*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace';
}

body{
    background-image: url();
    background-size: cover;
}

nav{
    position: fixed;
    max-width: 100%;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 0px;
    width: 100%;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li:hover{
    background-color: red;
}

.menu-2{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu li:hover .menu-2{
    display: block;
}

.menu-2 li:hover{
    background-color: black;
}

.menu-2 li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}